<app-banner></app-banner>
<div class="product">
  <div class="product_title">
    <div class="product_logo"></div>
    <p>CÂY XANH CÔNG TRÌNH</p>
  </div>
  <div class="bar"></div>
  <div id="product-container" class="product_total">
    <div class="product_detail" *ngFor="let product of visibleProducts">
      <img [src]="product.image" alt="" class="product_detail_img" />
      <div class="discount">
        <p>10%</p>
      </div>
      <div class="product_name">
        <p>{{ product.product_name }}</p>
      </div>
      <div class="product_price">
        <p>{{ product.new_price }}$</p>
        <p>
          <del>{{ product.old_price }}$</del>
        </p>
      </div>
      <div class="product_rating">
        <img [src]="product.imageStar" alt="" class="product_rating_img" />
        <p>{{ product.star_rating }}</p>
        <p>({{ product.comment }})</p>
      </div>
    </div>
  </div>
  <button
    *ngIf="!isShow && products.length > 8"
    (click)="load()"
    class="load-more"
  >
    Xem Thêm
  </button>
  <button
    *ngIf="isShow && products.length > 8"
    (click)="hidden()"
    class="load-more"
  >
    Ẩn sản phẩm
  </button>
</div>
